body
{
    background-color:black;
}

.fixed_width_heigh{
	width: 1000px;
	height: 800px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    border: 2px solid white;
    border-radius: 10px;
}

.num{
    width:35px;
}

.margin_first_row{
    margin-top: 20px;
    margin-bottom: 30px;
}

.margin_second_row{
    margin-bottom: 10px;
}

.rcorners0 {
    border-radius: 10px;
    border: 2px solid #15D6D0;
    width: 430px;
    height: 450px;
    margin-left: 25px;
}


.rcorners1 {
    border-radius: 25px;
    border: 2px solid #83BFEF;
    width: 600px;
    height: 450px;
}

.rcorners2 {
    position: absolute;
    border-radius: 25px;
    border: 2px solid #83BFEF;
    padding: 20px;
    width: 200px;
    height:250px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.rcorners3 {
    position: absolute;
    border-radius: 25px;
    border: 2px solid #83BFEF;
    width: 300px;
    height: 420px;
    margin: auto;
    right: 30px;
    top:0;
    bottom: 0;
}

.rcorners4 {
    border-radius: 10px;
    border: 2px solid #83BFEF;
    width: 250px;
    height: 60px;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 23px;
}

.rcorners5 {
    border-radius: 10px;
    border: 2px solid #FFC000;
    width: 250px;
    height: 60px;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 23px;
}

.rcorners7 {
    border-radius: 10px;
    border: 2px solid #FFC000;
    width: 350px;
    height: 220px;
    margin-bottom: 20px;
}

.rcorners8 {
    border-radius: 10px;
    border: 2px solid #83BFEF;
    width: 100px;
    height: 180px;
    right: 20px;
    margin-left: 25px;
}

.rcorners9 {
    border-radius: 10px;
    border: 2px solid #83BFEF;
    width: 200px;
    height: 180px;
    right: 20px;
}

.img_logo{
    width: 500px;
}

.max_logo{
    width: 400px;
}

.robot_logo{
    width: 200px;
    display: inline;
    float: right;
    padding-top: 20px;
}

.link-top{
    width: 100%;
    height: 1px;
    border-top: 2px solid #83BFEF;
}

.robot{
    position: absolute;
    padding: 20px;
    width: 250px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.typingMax {
             left: 0;
             font-family: MyWebFont;
             text-align: left;
        }

@font-face {
            font-family: 'MyWebFont';
            src: url('nasalization-rg.ttf');
        }